   .coches-section {
            margin: 20px;
            overflow-x: auto; /* Hace que la tabla sea responsive */
        }

        body {
         
        }

        .button {
            margin-top: 100px;
            width: 100%;
            background-color: rgba(132, 204, 235, 0.9);
            color: #080710;
            padding: 15px;
            font-size: 10px;
            font-weight: 600;
            border-radius: 5px;
            cursor: pointer;
        }

        .button:hover {
            background-color: #0056b3;
            transform: translateY(5px);
        }

        .buttonLogOut {
            position: fixed;
            bottom: 80px;
            left: 50%;
            transform: translate(-50%, 50%);
            width: 10%;
            background-color: rgba(240, 73, 73, 0.8);
            color: #080710;
            padding: 15px;
            font-size: 10px;
            font-weight: 600;
            border-radius: 5px;
            border: 2px solid white; /* Agrega un borde de 2px con color negro */
            cursor: pointer;
            text-align: center;
        }

        .coches-table {
            width: 100%;
            border-collapse: collapse;
        }

        .coches-table th,
        .coches-table td {
            padding: 8px;
            border: 1px solid #ddd;
            text-align: left;
        }

        .coches-table th {
            background-color: #f2f2f2;
        }

        /* Color diferente para cada fila */
        .coches-table tbody tr:nth-child(odd) {
            background-color: #f9f9f9;
        }

        .coches-table tbody tr:nth-child(even) {
            background-color: #e0e0e0;
        }

        /* Efecto hover */
        .coches-table tbody tr:hover {
            background-color: #cce5ff; /* Color de fondo al pasar el ratón */
        }